{:paths ["src" "resources" "target/resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        ring/ring-core {:mvn/version "1.12.1"}
        ring/ring-jetty-adapter {:mvn/version "1.12.1"}
        ring/ring-defaults {:mvn/version "0.5.0"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        metosin/reitit-ring {:mvn/version "0.7.2"}
        com.lambdaisland/hiccup {:mvn/version "0.14.67"}
        metosin/malli {:mvn/version "0.16.3"}
        hato/hato {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        io.github.jacobobryant/biff-config {:git/sha "3e067dbacdfcad6d12c003346188a4f713628bc7"}
        nrepl/nrepl {:mvn/version "1.1.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        tick/tick {:mvn/version "1.0"}
        io.github.jacobobryant/biff.authenticate {:git/sha "0e66af2102ffc69a644aec43672675d2c2bdc3fc"}
        io.github.jacobobryant/biff.sqlite {:git/sha "e82c43d41fc2fdc3f0fb06fc9580c51105117ab2"}
        io.github.jacobobryant/biff.fx {:git/sha "9cc18d0d656bdaf2c43247ad29ca4506e3521323"}
        io.github.jacobobryant/biff.graph {:git/sha "8e462c593d8dd90952fd85e05cc3a669454d33ce"}
        io.github.jacobobryant/biff.admin {:git/sha "a5ee135ed339c7b7f7fb0258d1e1d2bf4825294b"}}
 :aliases
 {:prod {:jvm-opts ["-Djdk.attach.allowAttachSelf"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"]
          :main-opts ["-m" "com.example"]}
   :run {:extra-paths ["test"]
         :extra-deps {io.github.jacobobryant/biff-tasks {:git/sha "0d4f68144169b78d1993f603d00dcdb561ba255a"}}
         :main-opts ["-m" "com.biffweb.cljrun" "com.biffweb.tasks/tasks" "--"]}}}
