{:paths ["src" "resources" "target/resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.jacobobryant/biff-ring {:git/sha "8d99d611b9eedff9ee448dde233cd21b9191e68c"}
        com.lambdaisland/hiccup {:mvn/version "0.14.67"}
        metosin/malli {:mvn/version "0.16.3"}
        hato/hato {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        io.github.jacobobryant/biff-config {:git/sha "2bac210c9bd52f34d84cab515f2d9a0d19815808"}
        nrepl/nrepl {:mvn/version "1.1.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        tick/tick {:mvn/version "1.0"}
        io.github.jacobobryant/biff.authenticate {:git/sha "2fbd39eb20fe48cc915020552e537debb6fa4ede"}
        io.github.jacobobryant/biff.sqlite {:git/sha "9059085cecd397ad83ec8f6c5aee81dbb23d9b6b"}
        io.github.jacobobryant/biff.fx {:git/sha "9cc18d0d656bdaf2c43247ad29ca4506e3521323"}
        io.github.jacobobryant/biff.graph {:git/sha "824ae1194fc0d2a41118d8c876acd495fb75c9b9"}
        io.github.jacobobryant/biff.admin {:git/sha "1865ae4168e8a24c250c9b97504c1dfddf600f16"}}
 :aliases
 {:prod {:jvm-opts ["-Djdk.attach.allowAttachSelf"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"]
          :main-opts ["-m" "com.example"]}
   :run {:extra-paths ["test"]
         :extra-deps {io.github.jacobobryant/biff-tasks {:git/sha "02d63d6d30e64714262fce15b2d725d24213dd24"}}
         :main-opts ["-m" "com.biffweb.cljrun" "com.biffweb.tasks/tasks" "--"]}}}
