{:paths ["src" "resources" "target/resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
         io.github.jacobobryant/biff-core {:git/sha "d9630f7024ac0009206fa89dde0f03651fdda5ab"}
         io.github.jacobobryant/biff-background {:git/sha "0a963e3048b98828717d8e6c3db42cae0f1c749d"}
         io.github.jacobobryant/biff-ring {:git/sha "3a35c9c1a211174aed692b4934f1995d8cbf8423"}
         com.lambdaisland/hiccup {:mvn/version "0.14.67"}
         metosin/malli {:mvn/version "0.16.3"}
        hato/hato {:mvn/version "1.0.0"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        io.github.jacobobryant/biff-config {:git/sha "f7289e16e0a0c257d4bcfaabc18d45251f1bc422"}
        nrepl/nrepl {:mvn/version "1.1.1"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        org.clojure/tools.namespace {:mvn/version "1.5.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.13"}
        tick/tick {:mvn/version "1.0"}
         io.github.jacobobryant/biff.authenticate {:git/sha "3b4f9f17d6d9a22768b44651f37e3a1020d250a4"}
         io.github.jacobobryant/biff.sqlite {:git/sha "ee9d1989c31f0d53c0df7492625e1e42afbe2f4b"}
        io.github.jacobobryant/biff.fx {:git/sha "b5ba8fa0b94428a94c31587b35addf8c185e8fdd"}
        io.github.jacobobryant/biff.graph {:git/sha "7dabe15c79398ab4d3596928e6ae11f739c17c8e"}
         io.github.jacobobryant/biff.admin {:git/sha "0d039c026c353d77ba3b1d16be3e14e5ff5eb0d7"}}
 :aliases
 {:prod {:jvm-opts ["-Djdk.attach.allowAttachSelf"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"]
          :main-opts ["-m" "com.example"]}
   :run {:extra-paths ["test"]
         :extra-deps {io.github.jacobobryant/biff-tasks {:git/sha "02d63d6d30e64714262fce15b2d725d24213dd24"}}
         :main-opts ["-m" "com.biffweb.cljrun" "com.biffweb.tasks/tasks" "--"]}}}
