BASE_URL=http://localhost:8080
HOST=localhost
PORT=8080
SQLITE_DB_PATH=storage/sqlite/main.db
NREPL_PORT=7888
COOKIE_SECRET={{ new-secret 16 }}
SECURE=false

# Optional MailerSend settings
MAILERSEND_API_KEY=
MAILERSEND_FROM=hello@example.com
MAILERSEND_REPLY_TO=hello@example.com

# Optional Turnstile settings
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Optional deploy settings
APP_SERVER=
DEPLOY_TO=
DEPLOY_FROM=HEAD

# Optional admin settings
BIFF_ADMIN_USER_ID=
BIFF_ADMIN_ALERT_EMAIL=
