{:biff/base-url #or [#biff/env BASE_URL "http://localhost:8080"]
 :biff/host #or [#biff/env HOST "localhost"]
 :biff/port #long #or [#biff/env PORT "8080"]
 :biff.sqlite/db-path #or [#biff/env SQLITE_DB_PATH "storage/sqlite/main.db"]
 :biff.nrepl/port #long #or [#biff/env NREPL_PORT "7888"]
 :biff.middleware/cookie-secret #biff/secret COOKIE_SECRET
 :biff.middleware/secure #boolean #or [#biff/env SECURE "false"]

 :biff.tasks/main-ns com.example
 :biff.tasks/css-output "target/resources/public/css/main.css"
 :biff.tasks/server #biff/env APP_SERVER
 :biff.tasks/deploy-to #biff/env DEPLOY_TO
 :biff.tasks/deploy-from #or [#biff/env DEPLOY_FROM "HEAD"]
 :biff.tasks/deploy-untracked-files ["config.env"]

 :mailersend/api-key #biff/secret MAILERSEND_API_KEY
 :mailersend/from #or [#biff/env MAILERSEND_FROM "hello@example.com"]
 :mailersend/reply-to #or [#biff/env MAILERSEND_REPLY_TO "hello@example.com"]

 :biff.auth/turnstile-site-key #biff/env TURNSTILE_SITE_KEY
 :biff.auth/turnstile-secret #biff/secret TURNSTILE_SECRET_KEY

 :biff.admin/user-id #biff/env BIFF_ADMIN_USER_ID
 :biff.admin/alert-email #biff/env BIFF_ADMIN_ALERT_EMAIL}
